.main{
width: 95%;
margin: 0 auto;	
background: blue;
}

.logo{
height: 90px;
width: 145px;
background: pink;
}

.menu{
height: 100px;
width:650px;
background: red;
}

.banner{
height: 100px;
width: 150px;
background: green;	
}

li{
float:left;
margin: 5px;
}

