.main{
width: 95%;
margin: 0 auto;	
background: blue;
}

.logo{
height: 100px;
width: 100px;
background: pink;
}

.menu{
height: 100px;
width:100px;
background: red;
}

.banner{
height: 100px;
width: 100px;
background: green;	
}